body{
    margin: 0;
    height: 100%;
    font-family: "Libre Franklin", sans-serif;
    
}
.container{
    max-width: 1070px;
     margin: 0 auto;
     text-align: center;
}
header{
    padding-top: 70px;
}
.mid-image{
width: 600px;

}
h1{
    color: #969696;
    font-weight: 600;
    max-height: 50px;
    padding-top: 45px;
}
span{
    color: #151F29;
    font-weight: 600;
    padding-top:20px ;
    line-height: 5px;
}
#email{
    border-radius: 30px;
    border: 1px solid #969696;
    width: 270px;
    padding: 12.5px;
}
#notify-button{
    border-radius: 20px;
    width:150px ;
    padding:12.5px ;
    border:1px solid ;
    background-color: #4F7DF3;
    color: white;
}